body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Flexbox*/
/*​.header {
    flex: none;
    height: 100px;
}*/

.vertical-box {
    display: flex;
    flex-flow: column;
}

.horisontal-box {
    display: flex;
    flex-flow: row ;
}

/*CSS ID*/
#main {
    height: 1100px;
    width: 1000px;
    background: #afc9ff;
    padding-top: 110px;
}

#middle {
    height: 1100px;
    width: 1000px;
    background: #777cdc;
    padding-top: 150px;
}

#bottom {
    height: 1100px;
    width: 1000px;
    background: #9b70c0;
    padding-top: 150px;
}

#mainText {
    padding-top: 5px;
    padding-bottom: 5px
}
