/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Flexbox*/

/*.vertical-box {
    display: flex;
    flex-flow: column;
}

.horisontal-box {
    display: flex;
    flex-flow: row ;
}*/

html, body {
    height: 100%;
    width: 100%;
}

.blok1 {
    height: 100%;
    background-image: url("../Images/frontOfHouse.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.5;

    padding-top: 15%;
}

.blok2 {
    height: 100%;
    background: #f4f7f6;
    background-position: center bottom;
    /*opacity: 0.5;*/
    padding-top: 5%;
}

.blok3 {
    height: 100%;
    background: #f4f7f6;
    background-position: center bottom;
    /*opacity: 0.5;*/
    padding-top: 15%;
}


/*CSS ID*/
#main {
    height: 100%;
    width: 60%;
    padding-top: 3%;

    background: white;
    /*opacity: 0.9;*/

    text-align: center;
}

#middleBlock {
    height: 80%;
    width: 100%;
    padding-top: 3%;
    background: #f4f7f6;
    text-align: center;
}

#middle1 {
    height: 75%;
    width: 30%;
    padding-top: 3%;
    margin-right: 3%;
    background: white;
    text-align: center;

    float: left;
    margin-left: 10%;
}

#middle2 {
    height: 75%;
    width: 50%;
    padding-top: 3%;
    background: white;
    text-align: center;

    float: right;
    margin-right: 5%;
}

/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
 
    #middleBlock {
        height: 80%;
        width: 80%;
        padding-top: 3%;
        background: #f4f7f6;
        text-align: center;

        display: flex;
        flex-direction: column
    }
    
    #middle1 {
        height: 75%;
        width: 80%;
        padding-top: 3%;
        margin-right: 3%;
        background: white;
        text-align: center;

    }

    #middle2 {
        height: 75%;
        width: 80%;
        padding-top: 3%;
        margin-right: 3%;
        background: white;
        text-align: center;
        
        margin-top: 5%;
        margin-left: 10%;
    }
}

/*Phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    #main {
        height: 100%;
        width: 90%;
        padding-top: 3%;
        background: white;
        text-align: center;
    }
    
    #middleBlock {
        height: 80%;
        width: 100%;
        padding-top: 3%;
        background: #f4f7f6;



        text-align: center;
        display: flex;
        flex-direction: column;

        margin-top: 20%;
    }

    #middle1 {
        height: 45%;
        width: 100%;
        padding-top: 3%;
        background: white;
        text-align: center;

        margin-left: 5%;
        margin-right: 5%
    }

    #middle2 {
        height: 55%;
        width: 100%;
        padding-top: 3%;
        margin-right: 3%;
        background: white;
        text-align: center;
        
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%
    }
}

#bottom {
    height: 100%;
    width: 60%;
    padding-top: 3%;
    background: white;
    text-align: center;
}

/*#mainTitle {
    margin-top: 25%
}*/

#mainText {
    padding-top: 5px;
    padding-bottom: 5px;
}

#owl-container {
    /*width: 50%;*/
    height: 100%;
    position: relative;
}

#owl-carousel .item img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0
}

.landscape {
    width: 100%;
}

.portrait {
    width: 70%;
}

.center {
    float: none;
    margin: 0 auto;
}


.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}



