
<div class="row center" id="middleBlock">
    
    <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
        dasdas
    </a>

    <div class="row col-md-5" id="middle1">
        <div class="center">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer pellentesque sapien sed turpis consequat vulputate.
                Integer a purus eleifend neque commodo rhoncus eu vitae quam.
                Sed a augue pretium, facilisis nunc in, vehicula quam.
                Maecenas eu nibh consectetur tellus lobortis sodales nec nec sem.
            </p>
        </div>
    </div>

    <div class="row col-md-5" id="middle2">
        
        

            <div class="col-md-5 owl-carousel owl-theme owl-lazy" id="owl-container">
                <div class="item landscape">
                    <a href="~/Images/forestPath.jpg" data-toggle="lightbox" data-gallery="tors-gallery">
                        <img src="~/Images/forestPath.jpg" alt="Stig ner till sjön" />
                    </a>
                </div>

                <div class="item landscape">
                    <a href="~/Images/frontFromStable.jpg" data-toggle="lightbox" data-gallery="tors-gallery">
                        <img src="~/Images/frontFromStable.jpg" alt="Huset sett från logen" />
                    </a>
                </div>

                @*<div class="item landscape">
                    <img src="~/Images/stable.jpg" alt="Logen" />
                </div>*@

                <div class="item landscape">
                    <a href="~/Images/road.jpg" data-toggle="lightbox" data-gallery="tors-gallery">
                        <img src="~/Images/road.jpg" alt="Vägen" />
                    </a>
                </div>

                @*<div class="item landscape">
                    <img src="~/Images/crayfish.jpg" alt="Kräftor" />
                </div>*@

                @*<div class="item landscape">
                    <img src="~/Images/lakeSunligth.jpg" alt="Sjön" />
                </div>*@

                <div class="item landscape">
                    <a href="~/Images/stonewall.jpg" data-toggle="lightbox" data-gallery="tors-gallery">
                        <img src="~/Images/stonewall.jpg" alt="Mur bredvid logen" />
                    </a>
                </div>
            </div>

</div>
</div>    

            <br/>
            <br/>
            <br/>
<a class="glyphicon glyphicon-arrow-down" style="text-align: center" href="#bottom"></a>

<a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
    TestMiddle
</a>

