
<div class="row">
    <div class="container">
        <div class="col-md-12 smooth" id="middle">

            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer pellentesque sapien sed turpis consequat vulputate.
                    Integer a purus eleifend neque commodo rhoncus eu vitae quam.
                    Sed a augue pretium, facilisis nunc in, vehicula quam.
                    Maecenas eu nibh consectetur tellus lobortis sodales nec nec sem.
                    Donec tincidunt mauris in nibh molestie, ac mattis purus rutrum.
                    Cras rutrum nisi vel odio elementum bibendum.
                    Cras vulputate mi in risus dapibus, vel fringilla sapien efficitur.
                    Duis tincidunt tellus vitae tellus posuere, id bibendum dui vulputate.
                </p>
            </div>

            <div class="col-md-12 owl-carousel" id="owl-pictures">
                <div class="item">
                    <img src="~/Images/forestPath.jpg" alt="Stig ner till sjön" />
                </div>
                <div class="item">
                    <img src="~/Images/frontFromStable.jpg" alt="Huset sett från logen" />
                </div>
                <div class="item">
                    <img src="~/Images/stable.jpg" alt="Logen" />
                </div>
                <div class="item">
                    <img src="~/Images/road.jpg" alt="Vägen" />
                </div>
            </div>

            <a class="glyphicon glyphicon-arrow-down" style="text-align: center" href="#bottom"></a>

        </div>
    </div>
</div>