<div class="row">
    <div class="col-md-12 center smooth" id="main">

        <h1 id="mainTitle">Välkomen till vackra Torshult</h1>

        <p id="mainText">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempor velit. Pellentesque lobortis, leo aliquet scelerisque faucibus, leo risus tempor turpis, nec malesuada nunc ipsum ut mi.
            Etiam condimentum quam neque, id suscipit leo pharetra eget. Nullam euismod nisi ut tristique gravida. Etiam leo est, vulputate sed ultrices sit amet, blandit sed neque. Donec tempus odio quis fermentum luctus.
            Curabitur et ultrices nisi, nec iaculis ex. Praesent metus justo, fermentum et ultricies eget, vehicula at est. Aenean varius mi erat.
        </p>

        <a class="glyphicon glyphicon-arrow-down" href="#middle"></a>
    </div>
</div>