
    <div class="row">
        <div class="col-md-12 center smooth" id="middle">

            <div class="col-md-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer pellentesque sapien sed turpis consequat vulputate.
                    Integer a purus eleifend neque commodo rhoncus eu vitae quam.
                    Sed a augue pretium, facilisis nunc in, vehicula quam.
                    Maecenas eu nibh consectetur tellus lobortis sodales nec nec sem.
                </p>
            </div>

            <div class="col-md-12 owl-carousel owl-theme" id="owl-container">
                <div class="item landscape">
                    <img src="~/Images/forestPath.jpg" alt="Stig ner till sjön" />
                </div>

                <div class="item landscape">
                    <img src="~/Images/frontFromStable.jpg" alt="Huset sett från logen" />
                </div>

                <div class="item landscape">
                    <img src="~/Images/stable.jpg" alt="Logen" />
                </div>

                <div class="item landscape">
                    <img src="~/Images/road.jpg" alt="Vägen" />
                </div>

                <div class="item landscape">
                    <img src="~/Images/crayfish.jpg" alt="Kräftor" />
                </div>

                <div class="item landscape">
                    <img src="~/Images/lakeSunligth.jpg" alt="Sjön" />
                </div>

                <div class="item landscape">
                    <img src="~/Images/stonewall.jpg" alt="Mur bredvid logen" />
                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <a class="glyphicon glyphicon-arrow-down" style="text-align: center" href="#bottom"></a>
        </div>
    </div>