
<div class="row center" id="middleBlock">
    

    <div class="row col-md-5" id="middle1">
        <div class="center">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer pellentesque sapien sed turpis consequat vulputate.
                Integer a purus eleifend neque commodo rhoncus eu vitae quam.
                Sed a augue pretium, facilisis nunc in, vehicula quam.
                Maecenas eu nibh consectetur tellus lobortis sodales nec nec sem.
            </p>
        </div>
    </div>

    <div class="row col-md-5" id="middle2">
        
        <a href="~/Images/crayfish.jpg" data-fancybox="gallery" data-caption="Kräftor"></a>
        <a href="~/Images/stable.jpg" data-fancybox="gallery" data-caption="Logen"></a>
        <a href="~/Images/lakeSunligth.jpg" data-fancybox="gallery" data-caption="Sjön"></a>

        <div class="col-md-5 owl-carousel owl-theme owl-lazy" id="owl-container">
                <div class="item landscape">
                    <a href="~/Images/forestPath.jpg" data-fancybox="gallery" data-caption="Stig ner till sjön">
                        <img src="~/Images/forestPath.jpg"/>
                    </a>
                </div>

                <div class="item landscape">
                    <a href="~/Images/frontFromStable.jpg" data-fancybox="gallery" data-caption="Huset sett från logen">
                        <img src="~/Images/frontFromStable.jpg" />
                    </a>
                </div>
                
                

                    @*<div class="item landscape">
                <img src="~/Images/stable.jpg" alt="Logen" />
                </div>*@

                <div class="item landscape">
                    <a href="~/Images/road.jpg" data-fancybox="gallery" data-caption="Vägen">
                        <img src="~/Images/road.jpg" />
                    </a>
                </div>
                
                

                @*<div class="item landscape">
                <img src="~/Images/crayfish.jpg" alt="Kräftor" />
            </div>*@
                
                

                @*<div class="item landscape">
                <img src="~/Images/lakeSunligth.jpg" alt="Sjön" />
            </div>*@

                    <div class="item landscape">
                        <a href="~/Images/stonewall.jpg" data-fancybox="gallery" data-caption="Mur bredvid logen">
                            <img src="~/Images/stonewall.jpg" />
                        </a>
                    </div>
</div>

</div>
</div>    

            <br/>
            <br/>
            <br/>
<a class="glyphicon glyphicon-arrow-down" style="text-align: center" href="#bottom"></a>


