<div class="row">
    <div class="container">
        <div class="col-md-12 smooth" id="main">

            <h1 id="mainTitle">Välkomen till vackra Torshult</h1>

            <p id="mainText">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempor velit. Pellentesque lobortis, leo aliquet scelerisque faucibus, leo risus tempor turpis, nec malesuada nunc ipsum ut mi.
                Etiam condimentum quam neque, id suscipit leo pharetra eget. Nullam euismod nisi ut tristique gravida. Etiam leo est, vulputate sed ultrices sit amet, blandit sed neque. Donec tempus odio quis fermentum luctus.
                Curabitur et ultrices nisi, nec iaculis ex. Praesent metus justo, fermentum et ultricies eget, vehicula at est. Aenean varius mi erat.
                Vivamus convallis, leo sed aliquam aliquet, erat enim consectetur augue, in convallis quam nisl at massa. Fusce sed mollis purus. Vestibulum ligula neque, aliquet id lobortis id, hendrerit eget ligula.
                Pellentesque nec ante quis mauris tempus malesuada. Morbi non lorem sit amet quam congue imperdiet. Quisque interdum magna dui, ac bibendum orci varius et. Maecenas vitae accumsan justo. Aenean vehicula mauris id sem dignissim aliquam. Ut malesuada dapibus posuere.
                Morbi eu est massa. Nunc interdum eleifend ante, ut laoreet nibh ultrices vitae. Nam et mi dapibus, viverra leo sit amet, elementum quam. Phasellus interdum vitae leo id efficitur. Nam auctor, nunc eu mollis molestie, odio enim consectetur ipsum, quis dignissim lacus nulla in purus.
                Curabitur ac est ut urna varius luctus. Sed vehicula sollicitudin lorem, nec sollicitudin justo. Curabitur interdum mi est, sed suscipit arcu posuere in. Ut sagittis a dui sed condimentum. Donec aliquam sapien vel massa efficitur ultrices. Suspendisse potenti.
                Aenean vehicula mauris a vestibulum condimentum. Fusce in augue placerat nisl lacinia condimentum. Aenean volutpat id urna eget vulputate. Quisque dignissim, nibh eu pellentesque feugiat, mi orci cursus odio, sed tincidunt justo arcu nec lectus. Nulla et diam vel diam suscipit feugiat. Integer quis lacus at orci tristique consectetur et non leo.
            </p>

            <a class="glyphicon glyphicon-arrow-down" href="#middle"></a>
        </div>

    </div>
</div>