
<div class="container-fluid blok1">
    @Html.Partial("BlockUpper")
</div>

<div class="container-fluid blok2">
    @Html.Partial("BlockMiddle")
</div>

<div class="container-fluid blok3">
    @Html.Partial("BlockBottom")
</div>
    

<script type="text/javascript">
    $(document).ready(function() {
        $(".owl-carousel").owlCarousel(
        {
                margin: 10,
                items: 2,
            lazyLoad: true,
            responsiveClass: true,
            center: true
        });
    });
</script>

    

@*https://codepen.io/nangko/pen/VYdJdm*@

@*SASS (förbättrar CSS), postCSS (Fixar alla vendor specifics så du slipper tänka på att skriva CSS för olika webbläsare), ES2017 (Modern Javascript), Minifiering av dina JS & CSS resurser*@

